*, *::after, *::before {}
/*    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out; */

html, body{
  font-family: 'Jua';
  font-size: 10px; width: 100%; height: 100%;
  font-size: calc(100vw/144);
  }

@media (max-width: 800px) {
  html {font-size: calc(100vw/70);}
}

@media (max-width: 430px) {
  html {font-size: calc(100vw/45);}
}


/* color palette*/
:root {
  --light-purple: #984bff;
  --lighter-purple: #b067ff;
  --purple: #8727ff;
  --white: #ffffff;
  --manilla: #fff283;
  --shadowyellow: #FFD300;
  --magenta: #ff00d9;
  --shadowmagenta: #B83CDF;
  --blue-purple: #6d00ff;
  --violet-blue: #5d04d3;
}
body {background-color: var(--lighter-purple);}

/*
::-webkit-scrollbar { width: 0.8rem;}
::-webkit-scrollbar-thumb {border-radius: 6rem; background-color: var(--white); }
*/

/* gnb */


/*button.gnb:hover{ color: var(--light-mustard);
}
button.gnb:active{ color: var(--faded-orange); border-bottom-color: var(--faded-orange);
}*/


.gnb-bar {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: 10rem;
  z-index: 10;
  overflow: auto;
}

.gnb-bar .gnb-bar-left {
  float: left; overflow: auto;
}

.gnb-bar .gnb-bar-left .gnb {
  float: left; overflow: auto;  padding: 4rem 4rem 4rem 6rem;
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-size:  1.6rem; color: var(--white);
}

.gnb-bar .gnb-bar-left img {
  float: left; height: 2rem;
}



/* main page */

.main-01 {
  display: block;
  position:relative;
  width: 40%;
}

.main {
  display: block;
  position: relative;
  height: 40%;
  padding: 14rem 0rem 0rem 6rem;
  color: var(--white);
  font-size: 9rem; line-height: 10rem;
  text-shadow: -0.1rem -0.1rem 0rem var(--shadowyellow), -1rem -0.6rem 0rem var(--shadowmagenta);
  }

#privacypolicy>.main-01 { width: 100%; }

.appstore {
  display: block;
  position: absolute;
  width: 20rem; height: 10rem; top: calc(70vh); left: calc(7vw);
  background-image: url(bg/btn.svg);
  background-size: contain; background-repeat: no-repeat; background-position: center;
}
strong {font-weight: 700;}
#privacypolicy>.main-03>a>.appstore {
  width: 20rem; height: 10rem;  top: calc(50vh); left: calc(80vw);
}
/*
.wrap {
  padding: 0rem 6rem;
}
*/

/* Background & buttons */
.jumbotron{ position: fixed;
  top: 0; left: 0; right: 0; height: 100%;
  background-size: cover; background-repeat: no-repeat; background-position: center;
  overflow:hidden; z-index: -100;
}

body {
  overflow: scroll;
}

#privacypolicy>.jumbotron{
  background-color: var(--blue-purple);
}

#privacypolicy>.gnb-bar{
  background-color: var(--blue-purple);
}

.privacypolicy, .terms {
  display: block;
  position: relative;
  margin-top:5rem;
  padding-left:15rem;
  padding-bottom: 20rem;
  font-weight: 400;
  width: 70%; height: 60%;
  font-family: 'Noto Sans KR'; line-height: 3.6rem;
  font-size:  1.8rem; color: var(--white);
  overflow: scroll;

}

.jumbotron>div{
  position:absolute; content: ''; width:100%; height:100%;
  background-size: contain;  background-repeat: no-repeat;  overflow:auto;
}

.jumbotron>.backgroundbasic{
  top: 0; right: 0; height: 103%;
  background-image: url(bg/bg.svg);
  background-position: top -3rem right -17rem;
}

/* footer */

.footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  height: 10rem;
  overflow: auto;
}

#privacypolicy>.footer{
  position: relative;
}

.footer .footer-left {
  float: left; overflow: auto;
  padding-left: 5rem;
}

.footer .footer-right {
  float: right; overflow: auto;
  padding-right: 5rem;
}

.footer .footer-left h1, .footer .footer-right h1 {
  float: left;
  padding: 4rem 1rem 6rem 1rem;
  font-family: 'Noto Sans KR';   font-weight: 700;
  font-size:  1.2rem; color: var(--white);
}


@media (max-width: 800px) {
.main-01{width: 100%;}
.jumbotron>.backgroundbasic {
  background-position: top 10vh left 100vw; width: 150%;}
.appstore{
  top: calc(60vh);
}
.privacypolicy, .terms { width: 100%; padding-left: 10rem; padding-right: 10rem;}
#privacypolicy>.main-03>a>.appstore {display: none;}
.footer .footer-left, .footer .footer-right {
  float: left; display: block;
  padding: 0rem; margin-left: 5rem;
}
.footer>.footer-left>h1, .footer>.footer-right>h1 {
  font-weight: 400; font-size: 1.2rem;
  padding: 0rem; margin-top:0.6rem; padding-right:2rem;
}
#privacypolicy>.main-01>.main{font-size:6rem;
  padding-right: 0rem; padding-left: 0rem; text-align: center;}
.privacypolicy, .terms {
  margin-top:3rem; padding-bottom: 10rem; padding-left: 6rem; padding-right: 6rem;
}
  #privacypolicy>.gnb-bar { background-color: var(--violet-blue);}

}

@media (max-width: 430px) {
  .main{ padding-right: 6rem;}
  .appstore{
    display: block; position: relative;
    width: 25rem; height: 10rem; bottom: -32rem; left: 5rem;
    top: 30rem; }
  .privacypolicy, .terms {
    width: 100%; padding-left: 4rem; padding-right: 4rem; padding-bottom:5rem;
    margin-top:3rem;
  }
  /*일단 모바일 보면서 사이즈 조정함*/
  .gnb-bar .gnb-bar-left img {height: 2rem; margin-top:0.3rem;}
  .gnb-bar .gnb-bar-left .gnb {padding: 3.7rem 0rem 0rem 4rem; font-size: 1.8rem;}
  #privacypolicy>.gnb-bar { background-color: var(--violet-blue);}
  #privacypolicy>.main-01>.main{font-size:5rem;
    padding-right: 0rem; padding-left: 0rem; text-align: center;}
  .footer{overflow:visible;
    overflow: visible; position: relative;
    display: block; background-color: var(--violet-blue);
    padding: 4rem; height: 40rem;}
  .footer .footer-left, .footer .footer-right {
    float: left; display: block;
    padding: 0rem;
  }
  .footer>.footer-left>h1, .footer>.footer-right>h1 {
    font-weight: 400; font-size: 1.4rem;
    padding: 0rem; margin-top:2rem; padding-right:2rem;
  }
  #main>.main-01{height:90rem;}
  #main>.gnb-bar {background-color: var(--lighter-purple);}
}
